name: extract_partition

on:
  workflow_dispatch:
    inputs:
      boot:
        description: 'boot'
        required: false
        default: false
        type: boolean
      init_boot:
        description: 'init_boot'
        required: false
        default: false
        type: boolean
      rom_url:
        description: 'ROM 下载直链'
        required: true
        default: 'https://cdnorg.d.miui.com/OS1.0.3.0.UNOCNXM/miui_ZIRCON_OS1.0.3.0.UNOCNXM_e09092107e_14.0.zip'

jobs:
  extract_partition:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v2
      
      - name: 安装依赖
        run: |
          sudo apt-get update && sudo apt-get -y install python3 python3-pip && sudo pip3 install bsdiff4 enlighten protobuf==3.20 httpx && git clone --single-branch --depth=1 https://github.com/5ec1cff/payload-dumper ~/payload-dumper_temp && mv ~/payload-dumper_temp/payload_dumper ~/payload-dumper && rm -rf ~/payload-dumper_temp

      - name: 提取镜像
        run: |
          partitions=""
          if [ "${{ github.event.inputs.boot }}" == "true" ]; then partitions="$partitions,boot"; fi
          if [ "${{ github.event.inputs.init_boot }}" == "true" ]; then partitions="$partitions,init_boot"; fi
          if [ -z "$partitions" ]; then echo "请选择至少一个分区类型！"; exit 1; fi
          cd ~ && python3 ~/payload-dumper/dumper.py --partitions "${partitions:1}" ${{ github.event.inputs.rom_url }}

      - name: 生成信息文件
        run: |
          cd ~/output
          echo "提交日期：$(TZ=Asia/Shanghai date '+%Y-%m-%d %H:%M:%S')" >> ${{ github.workspace }}/info.md
          echo "ROM 下载直链：${{ github.event.inputs.rom_url }}" >> ${{ github.workspace }}/info.md
          echo "提取的镜像大小：" >> ${{ github.workspace }}/info.md
          for img_file in *.img; do
            echo "$(du -h "$img_file" | awk '{print $1}') $img_file" >> ${{ github.workspace }}/info.md
          done

      - name: 上传镜像及相关信息
        uses: ncipollo/release-action@v1.12.0
        with:
            artifacts: "~/output/*"
            bodyfile: "${{ github.workspace }}/info.md"
            tag: "OUTPUT_${{ env.BUILD_TIME }}_${{ github.run_id }}"
            token: ${{ secrets.GITHUB_TOKEN }}